/*****************************TAG SELECTORS***************************/

body, html
{
  height: 100%;
  margin: 0px;
}

h3
{
  color: #32407b;
  text-align: center;
}

/***************************CLASS SELECTORS*************************/

.meaify_background
{
  background-image: url('meaify_logo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  height: 100%;
}

.page_header
{
  text-align:center;
}

/*******************************ID SELECTORS***********************/
